<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".PengertianActivity"
            android:exported="false" />

        <activity
            android:name=".ReminderActivity"
            android:exported="false" />
        <activity
            android:name=".ReminderDataActivity"
            android:exported="false" />
        <activity
            android:name=".SubUbahActivity"
            android:exported="false" />
        <activity
            android:name=".SubDataActivity"
            android:exported="false" />
        <activity
            android:name=".KategoriUbahActivity"
            android:exported="false"
            android:parentActivityName=".KategoriDataActivity" />
        <activity
            android:name=".KategoriDataActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".SunnahUbahActivity"
            android:exported="false"
            android:parentActivityName=".KategoriUbahActivity" />
        <activity
            android:name=".SunnahDataActivity"
            android:exported="false" />
        <activity
            android:name=".TentangAplikasiActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>